#logfire
LOGFIRE_TOKEN=""

# pg
POSTGRES_USER="hardik"
POSTGRES_PASSWORD="mypassword"
POSTGRES_DB="project1"

# APP running not in docker
#pg
DB_URL="postgresql://hardik:mypassword@localhost:5432/project1"
# MAKE SURE TO LOOK FOR ALMEBIC DB URL IN PRODUCTION, since it is hardcoded right now
#redis
REDIS_URL="redis://localhost:6379/0"
REDIS_CHANNEL_DOCS = "document_active_event"

#auth
JWT_SECRET="this is jwt secret which can be anything"
JWT_ALGORITHM="HS256"
ISSUER="my domian url"
is_prod="false"
#ingestion
max_file_size_bytes = 102400000   # 100 MB
presigned_url_expiry_seconds = 9000   # 150 min
stream_chunk_size_bytes = 4096 
#minio
minio_bucket = "contracts"
minio_region  = "us-east-1"

# MinIO / S3
MINIO_ROOT_USER= "hardik"
MINIO_ROOT_PASSWORD= "password"
MINIO_NOTIFY_WEBHOOK_ENABLE_FASTAPI="on"
MINIO_NOTIFY_WEBHOOK_ENDPOINT_FASTAPI="http://host.docker.internal:8000/api/v1/ingestion/webhook/minio"
MINIO_NOTIFY_WEBHOOK_AUTH_TOKEN_FASTAPI="my-secret-dev-token"

# change host (service name) from localhost for services inside docker interacting with each other
# for app running outside, use localhost, docker then would use port mapping
# docker maps localhost to container port not other way around 
# for that use host name as host.docker.internal, also enable it as extrahosts in compose
# if services inside docker localhost means same service inside docker


EMBED_MODEL_ID = "BAAI/bge-small-en-v1.5" 
# this model is pulled using fastembed which stores onnx version
MAX_TOKENS = 512 # get from net, must be accurate, else fails
EMBED_MODEL_DIM=384 # get from net, must be accurate, else fails
RERANK_MODEL_ID="Xenova/ms-marco-MiniLM-L-6-v2"
# its max tokens would need to be roughly (query tokens + chunks top n)
# so its desirable to use high max tokens model
# also tokenizer eventually gonna trucate after max tokens



QDRANT_URL="http://localhost:6333/"
QDRANT_API_KEY="local dev doesnt matter, qdrant dont check it"
COLLECTION ="contract"

GEMINI_KEY=""
GEMINI_MODEL="gemini-3.1-flash-lite"
# Input token limit -> 1,048,576
# Output token limit -> 65,536


system_prompt="ans only form chunks given"

# Google OAuth
GOOGLE_CLIENT_ID="your-client-id"
GOOGLE_CLIENT_SECRET="your-client-secret"
GOOGLE_REDIRECT_URI="http://localhost:8000/api/v1/auth/login/google/callback"
FRONTEND_URL="http://localhost:3000"
